<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
<form method='get' action='/create' >
	<fieldset>
		<p>
			<label>发表新文章</label><br/>
			<textarea name="text" cols="100" rows="5" ></textarea>
		</p>
	</fieldset>
	<input type="submit" value="发表">
</form>
</body>
</html>